<% layout("/layouts/boilerplate") %>



<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <!-- Card -->
        <div class="card shadow-lg border-0">
          <div class="card-body p-5">
            <div class="mb-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJZXxKSyRPoav96qA9IX4wkBwDMNOJjGtfpZL8c8LB7OibMhXzc8x5Iuxo5-8DN6Vf1Vk&usqp=CAU" alt="Success" class="img-fluid" style="width: 100px"/>
            </div>
            <h1 class="text-success">Payment Completed Successfully!</h1>
            <p class="text-muted mt-3 mb-4">
              Thank you for your payment. Your booking has been confirmed. You can view your booking details in your profile.
            </p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/bookings" class="btn btn-primary btn-lg" type="button" style="text-align: center;"> &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; View Bookings</a>
                <a href="/listings" class="btn btn-outline-secondary btn-lg" type="button" style="text-align: center;">Back to Home</a><br>
              </div>
              
          </div>
        </div>
      </div>
    </div>
  </div>

